doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="css/style.css")
        script(defer src="js/app.js") 
    body 
        header 
            button.playBtn start 
            button.addBtn add
        main 
            section.play.hidden 
                h3 first word 
                p example sentence 
                span.hidden meaning
                button.checkBtn check 
                button.passBtn pass
            section.word-list 
                ul 
                    li
                        span frist word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
                    li
                        span word
                        button del
    footer.add-word 
        form.add-word-form 
            input(type="text", placeholder="word", required)
            input(type="text", placeholder="meaning")
            input(type="text", placeholder="example sentance")
            button submit