@import "_reset";
@import "_variable";

@import "_button";

button {
    @extend %button;
}

body {
    background-color: $white;
    color: $black;
}

.hidden {
    opacity: 0 !important;
    visibility: hidden !important;
    display: none !important;
}

body header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 4em;
    background-color: $blue;
    width: 100%;
}

body footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: $purple;
    padding: 1em 2em 2em 2em;
    padding-bottom: 3em;
    transform: translateY(100%);

    .add-word-form {
        display: flex;
        flex-direction: column;
        gap: 1em;
        input {
            padding: 0.6em 0.8em;
            font-size: 1.2em;
            border-radius: 0.3em;
        }
    }
}

.word-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 4em;
}

.play {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr 1fr;
    gap: 2rem;

    h3,
    p,
    span {
        grid-column: 1/-1;
        text-align: center;
    }
    h3 {
        font-size: 3em;
    }
}
